@charset "utf-8";
@import "settings";

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: $bgc;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}